.loto-board-container {
  grid-gap: 2px;
  background-color: #000;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  width: 35%;
}
.loto-board-container--cell {
  /* width: 30px;
  height: 50px; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  font-size: 40px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.loto-board-container--dot {
  position: absolute;
  top: calc(50% - 28px);
  right: calc(50% - 26px);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: red;
  opacity: 0.5;
}
