.play-screen {
  height: 100vh;
  background: radial-gradient(ellipse at right, #0a0025 0%, #000000 100%);
  overflow: hidden;
  filter: drop-shadow(0 0 10px white);
}
.play-screen-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(ellipse at right, #0a0025 0%, #000000 100%);
  overflow: hidden;
  filter: drop-shadow(0 0 10px white);
}
.play-screen-out-room {
  position: absolute;
  top: calc(100% / 16);
  right: calc(100% / 40);
  cursor: pointer;
}
.play-screen-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 15%;
  padding-top: 20px;
}
.play-screen-body {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70%;
  padding: 0 40px;
}
.play-screen-action-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
  height: 15%;
}
.play-screen-list-user {
  width: calc(32.5% - 40px);
  border: 2px solid #ffffff;
  border-radius: 16px;
  padding: 16px;
}
.play-screen-list-user strong {
  display: flex;
  justify-content: center;
}
.play-screen-list-user-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  max-height: calc(100% - 16px - 16px - 28px);
  overflow-y: auto;
  overflow-x: hidden;
}
.play-screen-user-item {
  display: flex;
  gap: 6px;
  align-items: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}
.play-screen-list-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* position: absolute;
  top: 20%;
  right: 3%; */
  width: calc(32.5% - 40px);
  border: 2px solid #ffffff;
  border-radius: 16px;
  padding: 16px;
}
.play-screen-list-number-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  gap: 10px;
  width: 100%;
  max-height: calc(100% - 16px - 10px - 28px);
  overflow-y: auto;
  overflow-x: hidden;
}
.play-screen-list-number-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}
.play-screen--random-btn {
  /* width: 240px; */
  height: 50px;
  background-color: #c82121;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  cursor: pointer;
  color: #ffffff;
  font-size: 18px;
  border-radius: 25px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.play-screen-random-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 180px;
  max-width: 240px;
  border: 2px solid #ffffff;
  color: #ffffff;
  border-radius: 16px;
  font-size: 30px;
  font-weight: bold;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
